.task-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 65px;
    background-color: red;
    border-radius: 7px;
    border: 2px solid white;
    cursor: pointer;
}

.task-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 20px;
    align-items: start;
    justify-content: center;
    padding: 10px;
    color: white;
    font-weight: bolder;
}

.text-date {
    font-size: 10px;
    color: white;
}

.task-icon {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.material-icons {
    font-size: 30px;
    color: white
}

.task-container.completed {
    background-color: green;
    text-decoration: line-through;
}


.icons {
    display: flex;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    margin: 8px;
}