.container-img {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 350px;
    box-shadow: 2px 10px 15px 1px black;
    height: 300px;
    overflow-y: auto;
    
}

.container-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.image-component {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
}

.btn-style-image{
    width: 100%;
    box-shadow: 2px 2px 5px 1px gray;
}